* {
  box-sizing: border-box;
}

.widget-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  gap: 10px;
  padding-top: 20px;
}

#widget-button {
  width: fit-content;
}

.delete-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  cursor: pointer;
}

.available-widgets {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-buttons {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-between;
}

#radix-«R4v17» {
  width: fit-content !important;
  max-width: none !important;
}
