.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: start;
  /*border: 2px #efefef solid;*/
  padding: 20px;
}

.items.empty {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slot {
  background: white;
  border-radius: 8px;
  width: fit-content;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: fit-content;
  height: 100%;
}

.item:has(.handle) {
  position: relative;
}

.handle {
  cursor: grab;
  width: 24px;
  height: 24px;
  background-color: black;
  /* background-image: url(./handle.svg); */
  opacity: 0.5;
  position: absolute;
  top: 14px;
  left: 10px;
}

.delete {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}
